.carrossel{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.series{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.texto{
    font-size: 80px;
    color: white;
    font-weight: 900
}

