.selecao-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 64px;
}

.titulo {
    color: #efefef;
    font-size: 52px;
    font-weight: 400;
}
